<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite   name="Suite" >
  <test  name="Test">
    <classes>
  
      <class name="com.demoQA_Elements.testscripts.Checkbox_test"/>
      <class name="com.demoQA_Widgets.testscripts.Tabs_test"/>
      
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
